:root {
  --text-color: #063442;
  --text-color-alt: #494048;
  --text-color-light: #999999;
  --main-color: #4FC4AF;
  --dark-color: #2F746E;
  --light-color: #C1E7D2;
  --highlight-color: #FDF3CF;

  --secondary-color: #FFC07A;
  --secondary-color-dark: #ED7901;

  /* --r-background-color: white;
  --r-main-color: var(--main-color);

  --r-main-font-size: 28px;
  --r-block-margin: 3%;

  --r-heading1-size: 48px;
  --r-heading2-size: 38px;
  --r-heading-margin: 1% 0 4% 0;
  --r-heading-font: "poppins semibold", verdana;
  --r-heading-color: var(--text-color);
  --r-heading-line-height: 1.2em;
  --r-heading-text-transform: none;

  --r-code-font: "courier new";
  --r-link-color: var(--secondary-color-dark);
  --r-link-color-dark: var(--secondary-color);
  --r-link-color-hover: var(--secondary-color);
  --r-selection-color: white;
  --r-selection-background-color: var(--main-color); */
}

p, .content {
  line-height: 1.8em;
}
p > a:not(.navbar-link, .navbar-item .indicator-item), 
.content a:not(.navbar-link, .navbar-item, .indicator-item) {
  color: #ED7901;
  text-decoration: underline;
  /* border-bottom: 1px solid #ED7901; */
  
  /* background: #FDF3CF; */
  /* background-position: 0.2em bottom; */
  /* background-size: 100% 60%; */
  /* background-repeat: no-repeat; */
  /* padding-right: 0.2em;
  margin-right: -0.2em; */
}
.tabs li a {
  background: none !important;
  padding: none !important;
}

a.no-bg, footer a {
  background: none !important;
}

footer a {
  text-decoration: none !important;
}
footer .credit-text a {
  color: #4FC4AF !important;
}
.navbar-link, .navbar-item {
  color: #063442;
}
p, h1, h2, h3, h4, h5, .content h1, .content h2, .content h3, .content h4, h5.content  {
  color: #063442;
}
p > a > span.icon {
  color: #4FC4AF !important;
}

strong {
  /* color: white; */
  /* background: #4FC4AF; */
  box-shadow: inset 0 -0.4em 0 0 var(--highlight-color);  
}

strong:before, strong:after {
  content: "\0020";
  white-space: pre;
}

h1, h2, h3 {
  /* color: #4FC4AF !important; */
  /* margin-top: 2em !important; */
  border-left: 10px solid #4FC4AF;
  padding-left: .4em;
  /* background:linear-gradient( to left, #4FC4AF,#4FC4AF);
  background-position: 0 100%; 
  background-size: 100% 1.2em; 
  background-repeat: repeat-x;  */
}

.dataCard > .card {
  /* box-shadow: 0 0.5em 1em -0.125em rgba(255, 192, 122, 0.2), 0 0px 0 1px rgba(255, 192, 122, 0.1); */
}
.dataCard > .card:hover {
  /* box-shadow: 0 0 .25em .25em rgba(255, 192, 122, 1); */
  /* box-shadow: 0 0 .0em .15em rgba(255, 192, 122, 1); */
  /* box-shadow: 0 0 .5em .5em rgba(253, 243, 207, 1); */
  /* box-shadow: 0 0.5em 1em -0.125em rgba(253, 243, 207, 0.2), 0 0px 0 1px rgba(253, 243, 207, 0.1); */
  /* box-shadow: 0 0.5em 1em -0.125em rgba(255, 192, 122, 0.2), 0 0px 0 1px rgba(255, 192, 122, 0.1); */
  /* box-shadow: 0 0.5em 1em -0.125em rgba(255, 192, 122, 1), 0 0px 0 1px rgba(255, 192, 122, 0.5); */
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .5), 0 0px 0 1px rgba(10, 10, 10, 0.2);
  cursor: pointer;
}
.card-header {
  box-shadow: none;
}
.card-header-title {
  border: none;
}