p, .content {
  line-height: 1.8em;
}
p > a:not(.navbar-link, .navbar-item), .content a:not(.navbar-link, .navbar-item) {
  color: #ED7901;
  text-decoration: none;
}
footer a {
  text-decoration: none !important;
}
footer .credit-text a {
  color: #4FC4AF !important;
}
p > a > span.icon {
  color: #4FC4AF !important;
}
strong {
  border-bottom: 4px solid #FFC07A;
  /* background:linear-gradient( to left, #FDF3CF,#FDF3CF);
  background-position: 0 100%; 
  background-size: 100% 10px; 
  background-repeat: repeat-x;  */
}